{% extends 'base.html' %}


{% block body %}

<div class="container">    
            <ul>
                        <li>ID: {{ id }}</b></li>
                        <li>Name: <b>{{ name }}</b></li>
                        <li>Phone:<b> {{ phone }}</b></li>
                        <li>Address:<b> {{ address }}</b></li>
            </ul>
<br>
<br>

<div class="table-responsive">
<table class="table">            
<form action="check/" method="POST">
    {% csrf_token %}
    <h4>Добавить чек на имя пользователя</h4>
    <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Дата</th>
        <th></th>
    </tr>
    <tr>
                    
                    <th><input type="text" name="name" /></th>
                    <th><input type="number" name="price" /></th>
                    <th><input type="date" name="date" /></th>      
                    <th><input type="submit" value="Добавить"></th>
                </tr>
    </form>

</table>
</div>
<br>
<br>
<br>


<div class="table-responsive">
<table class="table">            
    <form action="payment/" method="POST">
        {% csrf_token %}
        <h4>Добавить Платежное поручение на имя пользователя</h4>
        <tr>
            <th>Наименование</th>
            <th>Дата</th>
            <th>Счет получателя</th>
            <th>Сумма платежа</th>
        </tr>
        <tr>
                        
                        <th><input type="text" name="name" /></th>
                        <th><input type="date" name="date" /></th>
                        <th><input type="text" name="check_name" /></th>
                        <th><input type="number" name="price" /></th>
                              
                        <th><input type="submit" value="Добавить"></th>
                    </tr>
        </form>

    </table>
</div>
</div>

{%endblock%}